body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}
h1{
    font-size: 50px;
}
button{
    font-size: 35px;
    padding: 0.5rem 1rem;
}